.homepage {
  display: flex;
  height: 100vh;

  .textcontainer {
    flex: 3;
    background-color: white;
    .wraper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 30px;
      h1 {
        font-size: 50px;
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
    }
  }
  .imgcontainer {
    flex: 2;
    background: rgb(250, 239, 225);
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 110%;
      height: 110%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
